<nav   style="background-color:darkmagenta;"></nav>

  <!DOCTYPE html>
  <html>
  <title>W3.CSS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <body>
  
  <!-- Sidebar -->
  <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:10%">
    <h3 class="w3-bar-item" >Menu</h3>
    <a routerLink="employees" class="nav-link" routerLinkActive="active" style="margin-left:27px; margin-bottom:100px" >Books List</a>
    <a routerLink="add" class="nav-link" style="margin-left:27px; margin-bottom:100px" routerLinkActive="active">Add Books</a>
  </div>
  
  <!-- Page Content -->
  <div>
  
    <div  style="background-color:darkmagenta; width: 100%;font-size: 100px;  padding: 15px;">
      <h1  style="margin-left:39%; color: white;">library management</h1>
    </div>
    
    
    
    
    
    </div>
        
  </body>
  </html>
  
  <!-- Links -->
  <ul class="navbar-nav">
    
  </ul>



<div class="container">
  <br>
  <h2 style="text-align: center;"></h2>
  <hr>  
  <div class="card">
    <div class="card-body">
  <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <span>All Rights Reserved 2020 @JavaGuides</span>
  </div>
</footer>